* {
	box-sizing: border-box;
}

//------------------------------------------------//
//FONTS
h1 {
	font-family: 'Bilbo', cursive;
	color: #decfb1;
    text-align: center;
}

h2 {
	font-family: "Open Sans";
	text-align: center;
}

p {
	font-family: "Inconsolata";
}
//------------------------------------------------//
// COLORS
	//BROWNS//
	$vibrant:         rgb(214,195,179);
	$darkVibrant:     rgb(196,180,161);
	$muted:           rgb(189,146,111);
	$deer:			  rgb(190, 138, 100);
	$lightVibrant:    rgb(132,100,65);

	//BLUES//
	$iceberg:		  rgb(115, 199, 206);
	$cadetBlue: 	  rgb(88, 148, 163);

	//YELLOWS//
	$sunny: 		  rgb(253, 247, 117);

	//ORANGES//
	$orangy: 		  rgb(249, 153, 11);
//------------------------------------------------//

//BANNER
h1#title {
    background: rgba(0,0,0,0.4);
    font-size: 75px;
    margin: 0;
}

//LOGIN PAGE
.login-page {
    background: url(../images/beerBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}



//FORMS
.splash-form{
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: rgba(0, 0, 0, 0.4);
}
.splash-form h2{
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.splash-form input[type="text"],
.splash-form input[type="password"]
{
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
}
.splash-form input[type="text"]:focus,
.splash-form input[type="password"]:focus,
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

button.loginButton{
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff; 
}

button.submitButton:hover{
    background: #2EBC99;
}

button.submitButton {
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
button.submitButton:hover{
	background: #2EBC99;
}


button.tooYoung {
    width: 100%;
    padding: 3%;
    background: #d14343;
    border-bottom: 2px solid #c50303;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    margin-bottom: 5px;
}
button.tooYoung:hover{
    background: #9e2121;
}


//SEARCH PAGE
img {
	max-width: 100%;
}

.search-page {
    background: url(../images/beerBubbles.jpg);
    background-size: cover;
    width: 100vw;
    background-attachment: fixed;
}


button.like {
    background: #e43f3f;
    color: white;
    font-size: 30px;
}

.container{
	.banner{
		text-align: center;
		li{
			list-style: none;
			display: inline-block;

			a {
				text-decoration: none;
			    display: inline-block;
			    cursor: pointer;
			    margin: 10px;
			    padding: 10px;
			    background: rgba(134,120,120,0.6);
			    color: black;
			    font-weight: bold;
			}

			a:hover{
				background: #2EBC99;
				color: white;
				box-shadow: 0px 0px 14px 3px white;
			}
			a.logoutLink:hover{
				background: red;
				color: white;
				box-shadow: 0px 0px 14px 3px white;
			}

		}
	}
	.beers{
		display: flex;
		flex-wrap: wrap;

		div{
			background: rgba(0, 0, 0, 0.6);
			color: white;
			border: 1px solid black;
		    padding: 10px;
		    margin: 10px;
		    width: 30%;
		    text-align: center;
		}
	}
}

//FAVORITES
.favs-page {
    background: url(../images/beerBubbles.jpg);
    background-size: cover;
    width: 100vw;
    background-attachment: fixed;
}

button.recommend {
    background: #2797ca;
    color: white;
    font-size: 24px;
}

button.delete {
    background: #e43f3f;
    color: white;
    font-size: 24px;
}


//BEER 101

.beer-facts {
    background: url(../images/beer101.jpg);
    background-size: cover;
    width: 100vw;
    background-attachment: fixed;
}

.fact-div {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 15px 50px;
    border: 2px solid black;
}


